body {
  font-family: Arial;
  font-size: 14px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-header {
  background-color: #017ca7;
  color: white;
}

.bg-custom {
  background-color: #056061;
}

button[type="submit"] {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 0.3% 1.2% 0.3% 1.2%;
}
