body {
  font-family: Arial;
  font-size: 14px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-header {
  background-color: #017ca7;
  color: white;
}

.bg-custom {
  background-color: #ffbebe;
}

.nav-link {
  color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icons {
  font-size: 40px; /* Adjust the size of the icons as needed */
  width: 15%; /* Adjust icon width as needed */
  height: 30px; /* Adjust icon height as needed */
  color: black;
  text-decoration: none;
}

.submitbutton {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.3% 1.2% 0.3% 1.2%;
}

.rating {
  display: flex;
  justify-content: left;
  align-items: start;
  grid-gap: 0.5rem;
  font-size: 1em;
  color: #ffd700;
}

.rating .fa-star {
  cursor: pointer;
}
.rating .fa-star.active {
  opacity: 0;
  animation: animate 0.5s calc(var(--i) * 0.1s) ease-in-out forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.rating .fa-star:hover {
  transform: scale(1.1);
}

.sub-menu-wrap {
  z-index: 2;
  width: 150px;
  position: absolute;
  margin-top: -2%;
  right: 17.5%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}
/* Increases the max-height which will allow the dropdown menu to show itself */
.sub-menu-wrap.open-menu {
  z-index: 4;
  max-height: 300px;
}
/* Giving the dropdown menu a backgroud color, padding and margin */
.sub-menu {
  background-color: rgba(4, 4, 58, 0.7);
  padding: 20px;
  margin: 10px;
}
/* Styling of links in the drop down menu */
.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin: 12px 0;
}
/* Giving width to the text in dropdown menu */
.sub-menu-link p {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateX(0);
  transition: 0.3s;
}
/* Giving an animation of 5px difference when a mouse hovers over the text  */
.sub-menu-link:hover p {
  cursor: pointer;
  font-weight: bolder;
  color: yellow;
  transform: translateX(5px);
}
/* end dropdown */
/* Animation */
.animation {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: auto;
}

.card-body {
  text-align: center;
}

.card h3 {
  color: #333;
}

.card p {
  color: #666;
}
