body {
  font-family: Arial;
  font-size: 14px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-header {
  background-color: #017ca7;
  color: white;
}

.bg-custom {
  background-color: #e66d5d;
}

.nav-link {
  color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icons {
  font-size: 40px; /* Adjust the size of the icons as needed */
  width: 15%; /* Adjust icon width as needed */
  height: 30px; /* Adjust icon height as needed */
  color: black;
  text-decoration: none; 
}

.submitbutton {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 0.3% 1.2% 0.3% 1.2%;
}

.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: .5rem;
	color: yellow;
	margin-bottom: 2rem;
}

/* Give pointer to cursor when hovered */
.rating .fa-star {
	cursor: pointer;
}
/* Give the bouncing effect to the stars */
.rating .fa-star.active {
	opacity: 0;
	animation: animate .5s calc(var(--i) * .1s) ease-in-out forwards;
}

@keyframes animate {
	0% {
		opacity: 0;
		transform: scale(1);
	}
	50% {
		opacity: 1;
		transform: scale(1.2);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/* Give the scale 1.1 when hover */
.rating .fa-star:hover {
	transform: scale(1.1);
}
